<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Hello Every One</ion-card-subtitle>
        <ion-card-title>Welcome to My First App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hi My name is sumit and this is one of my sample app from ionic let check this out  😋 </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
